openapi: 3.0.2

info:
  title: '[AOS] Especificación API REST de VideoJuegos'
  description: '*Gestión de videojuegos*'
  version: 1.0.0
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  contact:
    name: Máster Universitario en Ingeniería Web
    url: 'http://miw.etsisi.upm.es/'
    email: miw.etsisi@upm.es

servers:
  - url: https://api.example.io/api/v1

tags:
  - name: Game
    description: Game

paths:
  /games:
    get:
      summary: Obtiene todos los videojuegos
      description: |
        La siguiente tabla define los códigos de estado que puede devolver este endpoint
        
        | Status Code | Descripción | Motivo                             |
        | ------------| ------------| -----------------------------------|
        | **200**     | OK          | Hay videojuegos                    |
        | **404**     | NOT FOUND   | No hay ningún videojuego           |
      tags: [ Game ]
      operationId: games_cget
      responses:
        '200':
          description: Lista de videojuegos disponibles
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                properties:
                  videojuegos:
                    description: array de videojuegos
                    type: array
                    items:
                      $ref: '#/components/schemas/Game'
        '404':
          $ref: '#/components/responses/Response_404'

    options:
      tags: [ Game ]
      summary: Proporciona la lista de los métodos HTTP soportados por esta ruta.
      description: Devuelve una cabecera `Allow` con la lista de métodos HTTP soportados (separados por comas).
      operationId: games_coptions
      responses:
        '204':
          description: 'cabecera `Allow` &lt;El cuerpo de la respuesta está vacío&gt;'
          headers:
            Allow:
              $ref: '#/components/headers/Allow'

    post:
      summary: Añade un nuevo videojuego
      description: |
        La siguiente tabla define los códigos de estado que puede devolver este endpoint
        
        | Status Code | Descripción          | Motivo                                    |
        | ------------| ---------------------| ------------------------------------------|
        | **201**     | CREATED              | El videojuego ha sido creado              |
        | **422**     | UNPROCESSABLE ENTITY | Falta alguno de los atributos obligatorios|
      tags: [ Game ]
      operationId: games_post
      requestBody:
        $ref: '#/components/requestBodies/gameRB'
      responses:
        '201':
          description: Nuevo Videojuego creado
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
              examples:
                gameExample:
                  $ref: '#/components/examples/game-example'
        '422':
          $ref: '#/components/responses/Response_422'

  /games/{gameId}:
    parameters:
      - $ref: '#/components/parameters/gameId'
    get:
      summary: Obtiene un videojuego identificado por su `gameId`
      description: |        
        La siguiente tabla define los códigos de estado que puede devolver este endpoint
        
        | Status Code      | Descripción | Motivo                             |
        | ---------------- | ------------| -----------------------------------|
        | **200**          | OK          | Si el juego existe                 |
        | **404**          | NOT FOUND   | Si el juego no existe              |
      tags: [ Game ]
      operationId: games_get
      responses:
        '200':
          description: Videojuego
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
              examples:
                gameExample:
                  $ref: '#/components/examples/game-example'
        '404':
          $ref: '#/components/responses/Response_404'

    delete:
      summary: Elimina un videojuego identificado por su `gameId`
      description: |
        La siguiente tabla define los códigos de estado que puede devolver este endpoint
        
        | Status Code      | Descripción | Motivo                                    |
        | ---------------- | ------------| ------------------------------------------|
        | **204**          | NO CONTENT  | El videojuego existía y ha sido eliminado |
        | **404**          | NOT FOUND   | Si el videojuego no existe                |
      tags: [ Game ]
      operationId: games_delete
      responses:
        '204':
          description: Videojuego eliminado &lt;Cuerpo de la respuesta vacío&gt;
        '404':
          $ref: '#/components/responses/Response_404'

    options:
      tags: [ Game ]
      summary: Proporciona la lista de los métodos HTTP soportados por esta ruta.
      description: Devuelve una cabecera `Allow` con la lista de métodos HTTP soportados (separados por comas).
      operationId: games_options
      responses:
        '204':
          description: 'cabecera `Allow` &lt;El cuerpo de la respuesta está vacío&gt;'
          headers:
            Allow:
              $ref: '#/components/headers/Allow'

    put:
      tags: [ Game ]
      summary: Modifica un videojuego.
      description:  |
        La siguiente tabla define los códigos de estado que puede devolver este endpoint

        | Status Code | Descripción         | Motivo                                        |
        | ------------| --------------------| ----------------------------------------------|
        | **200**     | OK                  | El videojuego existía y ha sido modificado    |
        | **404**     | NOT FOUND           | Si el videojuego no existe                    |
        | **412**     | PRECONDITION FAILED | Si el ETag proporcionado no está actualizado  |
      operationId: games_put
      parameters:
        # https://www.rfc-editor.org/rfc/rfc7232.html#page-13
        - $ref: '#/components/parameters/ifMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/gameUpdate'
      responses:
        '200':
          description: '`OK`: el videojuego ha sido modificado'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        '404':
          $ref: '#/components/responses/Response_404'
        '412':
          $ref: '#/components/responses/Response_412'

components:
  schemas:
    Game:
      description: Información de un videojuego
      required:
        - nombre
        - empresa
        - version
        - año_publicación
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Id videojuego
          readOnly: true
        nombre:
          description: Nombre del videojuego
          type: string
        genero:
          description: Género del videojuego
          type: array
          items:
            type: string
        multijugador:
          description: Indica si es un juego multijugador
          type: boolean
        requisitos:
          description: Requisitos técnicos
          type: string
        empresa:
          description: Nombre de la empresa desarrolladora
          type: string
        version:
          description: Número de versión
          type: string
        año_publicación:
          description: Año de publicación
          type: integer
        pegi:
          $ref: '#/components/schemas/Pegi'
        links:
          description: Enlaces de relación
          readOnly: true
          type: object
          properties:
            parent:
              $ref: '#/components/schemas/Link'
            self:
              $ref: '#/components/schemas/Link'

    Pegi:
      description: >
        Clasificación PEGI (PanEuropean Game Information)
        [https://pegi.info/](https://pegi.info/)
      enum:
        - null
        - PEGI-3
        - PEGI-7
        - PEGI-12
        - PEGI-16
        - PEGI-18

    HTTP_Problem:
      type: object
      externalDocs:
        url: https://tools.ietf.org/html/rfc7807
      description: Problem Details for HTTP APIs
      properties:
        type:
          type: string
          format: uri
          description: A URI reference [RFC3986] that identifies the problem type
        title:
          type: string
          description: short human-readable summary of the problem type
        status:
          type: number
          description: HTTP status code
        detail:
          type: string
          description: human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          format: uri
          description: "A URI reference that identifies the specific
                occurrence of the problem.  It may or may not yield further
                information if dereferenced"

    Link:
      description: Enlace de relación
      type: object
      properties:
        href:
          description: URL del enlace
          type: string
          format: url
          x-faker: internet.url
        rel:
          description: "Relación del documento enlazado con el actual. Contiene una lista de tipos
                de enlaces separados por espacio."
          type: string
          x-faker: lorem.words

  requestBodies:
    gameRB:
      description: Información de un videojuego
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [ nombre, empresa, version, año_publicación ]
            properties:
              nombre:
                description: Nombre del videojuego
                type: string
              genero:
                description: Género del videojuego
                type: array
                items:
                  type: string
              multijugador:
                description: Indica si es un juego multijugador
                type: boolean
                default: true
              requisitos:
                description: Requisitos técnicos
                type: string
              empresa:
                description: Nombre de la empresa desarrolladora
                type: string
              version:
                description: Número de versión
                type: string
              año_publicación:
                description: Año de publicación
                type: integer
              pegi:
                $ref: '#/components/schemas/Pegi'
          examples:
            gameRB-example:
              $ref: '#/components/examples/gameRB-example'
    gameUpdate:
      description: Información de actualización de un videojuego
      content:
        application/json:
          schema:
            type: object
            properties:
              nombre:
                description: Nombre del videojuego
                type: string
              genero:
                description: Género del videojuego
                type: array
                items:
                  type: string
              multijugador:
                description: Indica si es un juego multijugador
                type: boolean
              requisitos:
                description: Requisitos técnicos
                type: string
              empresa:
                description: Nombre de la empresa desarrolladora
                type: string
              version:
                description: Número de versión
                type: string
              año_publicación:
                description: Año de publicación
                type: integer
              pegi:
                $ref: '#/components/schemas/Pegi'
          examples:
            gameUpdate-example:
              $ref: '#/components/examples/gameRB-example'

  headers:
    ETag:
      description: Entity Tag (identificador único proporcionado para validación de caché)
      schema:
        type: string
        pattern: "[0-9a-f]*"
        # https://github.com/marak/Faker.js#api-methods
        x-faker: random.uuid
        example:
          33a64df551425fcc
    Allow:
      description: Lista de métodos HTTP soportados
      schema:
        type: string
      example: GET,DELETE,PUT,OPTIONS
    Location:
      description: '`URI` del nuevo recurso'
      schema:
        type: string
        format: url
        x-faker: internet.url
        example:
          /api/v1/games/1936

  responses:
    Response_404:
      description: '`NOT FOUND`: recurso no disponible'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-404:
              $ref: '#/components/examples/response-http-404'
    Response_412:
      description: '`PRECONDITION FAILED`: El ETag proporcionado no está actualizado'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-412:
              $ref: '#/components/examples/response-http-412'
    Response_422:
      description: >
        `UNPROCESSABLE ENTITY`
        Falta alguno de los atributos obligatorios (`nombre`, `empresa`, `version` o `año_publicación`)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-422:
              $ref: '#/components/examples/response-http-422'

  parameters:
    gameId:
      name: gameId
      in: path
      description: Identificador único del VideoJuego
      schema:
        type: integer
        format: int32
      required: true
    ifMatchParam:
      name: If-Match
      in: header
      description: ETag del videojuego que se desea modificar
      required: true
      schema:
        type: string
        pattern: "[0-9a-f]*"

  examples:
    game-example:
      value:
        id: 2022
        nombre: 'Need For Speed: Porsche 2000'
        genero: [ Carreras ]
        multijugador: true
        requisitos: Windows7+
        empresa: Electronic Arts
        version: 2.0.1
        año_publicación: 2000
        pegi: PEGI-3
        links:
          parent:
            href: /api/v1/games
            rel: listaVideojuegos
          self:
            href: /api/v1/games/2022
            rel: obtenerVideojuego modificarVideojuego eliminarVideojuego

    gameRB-example:
      value:
        nombre: 'Need for Speed™ Hot Pursuit Remastered'
        genero: [ Carreras, 'No lineal', Racing ]
        multijugador: true
        requisitos: PS3, Xbox 360, Windows 10+
        empresa: Electronic Arts
        version: 3.5.0
        año_publicación: 2020
        pegi: PEGI-7

    response-http-404:
      value:
        type: https://httpstatuses.com/404
        title: NOT FOUND
        status: 404
        detail: El recurso solicitado no está disponible.
        instance: about:blank

    response-http-412:
      value:
        type: https://httpstatuses.com/412
        title: PRECONDITION FAILED
        status: 412
        detail: El ETag proporcionado no está actualizado
        instance: about:blank

    response-http-422:
      value:
        type: https://httpstatuses.com/422
        title: UNPROCESSABLE ENTITY
        status: 422
        detail: Falta alguno de los atributos obligatorios (nombre, empresa, version o año_publicación)
        instance: about:blank
